*.pdf
*.nav
*.snm
*.toc

notes.md
presentation/synthese.aux
presentation/synthese.bbl
presentation/synthese.blg
presentation/synthese.log
presentation/synthese.out
presentation/synthese.synctex.gz

*.DS_Store
*.run.xml
*.bcf
presentation/.synthese.tex.kate-swp
presentation/synthese.synctex(busy)
presentation/synthese.bib.bbl
presentation/synthese.bib.blg

.idea
swiss-knife/.idea
swiss-knife/lib
swiss-knife/*.iml
swiss-knife/build

C_lib/*
swiss-knife/gradle/wrapper/gradle-wrapper.jar
*.pyc
*.ldif
*.csv
LDAPParser/*.db
presentation/mi-parcours/synthese.synctex.gz
*.bib
*.fdb_latexmk
*.fls
*.gz
*.aux
*.bbl
*.blg
*.log
*.out
