*.pdf
*.nav
*.snm
*.toc

notes.md
presentation/synthese.aux
presentation/synthese.bbl
presentation/synthese.blg
presentation/synthese.log
presentation/synthese.out
presentation/synthese.synctex.gz

*.DS_Store
*.run.xml
*.bcf
presentation/.synthese.tex.kate-swp
presentation/synthese.synctex(busy)
presentation/synthese.bib.bbl
presentation/synthese.bib.blg
