# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx

libs

.idea
lib
*.iml
gradle
gradlew
gradlew.bat

.DS_Store